// ======================================
//  Header
// ======================================

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6vh;
  background-color: color(bg);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  h2 {
    color: #fff;
    margin: auto;
  }
  ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-button {
    padding: 2rem;
  }
  &-github {
    margin-left: 1rem;
    margin-right: 6rem;
    width: 20px;
    svg {
      padding: 0;
      fill: #fff;
      width: 3.5rem;
    }
  }
  button {
    display: inline-block;
    border: none;
    border-radius: 2rem;
    min-width: 12rem;
    padding: 0.8rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    color: color(bg);
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 250ms ease,
      color 250ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      background: lighten(color(secondary), $amount: 10);
      color: #fff;
    }

    // &:focus {
    //   outline: 1px solid #fff;
    //   outline-offset: -4px;
    // }

    &:active {
      transform: scale(0.98);
      background: color(secondary);
    }
  }
  .active {
    background: color(secondary);
    color: #fff;
  }
}
